body {
    margin: 0 auto;
    margin-top: 30px;
    height: 500px;
    width: 650px;
    display:grid;
    grid-template-columns: repeat(13, 50px);
    grid-template-rows: repeat(10, 50px);
    background-color: black;
}



.one {
    grid-area: 2/4;
    background-color:#770087;
}

.two {
    grid-area: 3/5;
    background-color:#A100A7;
}

.three {
    grid-area: 4/4 / span 1 / span 7;
    background-color:#C400BA;
}

.four {
    grid-area: 2/10;
    background-color: #770087;
}

.five {
    grid-area: 3/9;
    background-color: #A100A7;
}

.six {
    grid-area: 5/3/span 1/span 2;
    background-color: #Eb27C8;
}

.seven {
    grid-area: 5/6 / span 1 / span 3;
    background-color: #Eb27C8;
}

.eight {
    grid-area: 5/10 / span 1 /span 2;
    background-color:#Eb27C8;
}

.nine {
    grid-area: 6 / 2 / span 1 / span 11;
    background-color:#F55DD4;
}

.ten {
    grid-area: 7 / 2;
    background-color:#FCA4E7;
}

.eleven {
    grid-area: 7 / 4 / span 1 / span 7;
    background-color:#FCA4E7;
}

.twelve {
    grid-area: 7 / 12 ;
    background-color:#FCA4E7;
}

.thirteen {
    grid-area: 8/ 4;
    background-color:#FDCAF1;
}

.fourteen {
    grid-area: 8 / 10;
    background-color:#FDCAF1;
}

.fifteen {
        grid-area: 9 / 5 / span 1 / span 2;
        background-color:#FFF2FC;
    }

.sixteen {
    grid-area: 9 / 8 / span 1 / span 2;
    background-color: #FFF2FC;
}
